.actor-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.actor-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.names {
  color: ivory;
  position: absolute;
  background-color: rgb(1, 12, 14);
  bottom: 0px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  object-fit: cover;

  font: 1.4em sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;
  color: white;
}
.actor-name {
  display: block;
  font-size: 18px;
  margin: 10px 0 0 0;
}

.actor-character {
  display: block;
  font-size: 16px;
  margin: 0 0 10px 0;
}

@media (max-width: 370px) {
  .actor-name {
    font-size: 13px;
  }
  .actor-character {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  .actor-name {
    font-size: 10px;
  }
  .actor-character {
    font-size: 7px;
  }
}
